---
layout: default
title: Home
---

<h1 class="page-title">About Me</h1>
<p>I am currently employed as a New Technologies Project Manager working on Research and Development on Technology and Innovation within the Guala Closures Group.
I lead a team of four Research &amp; Development Engineers. 
I oversee the <b>design</b>, <b>development</b>, and <b>implementation of production machines</b> employing intelligent and adaptable systems for vision, manipulation, handling, and processing of components.

My responsibilites include:
<ul>
        <li> <b>Management</b> of several high-value and high-priority projects with concurrent deadlines
        <li> <b>Budgeting</b>, resource allocation, time management, progress tracking
        <li> Identifying, successfully obtaining, and managing of governmental <b>research funding</b> (FNR, RDI, Bridges)
        <li> Implementing <b>robotic solutions for flexible automation</b> -- PLC's, IPC's, Robots, Flexible Feeding
        <li> Developing and deploying <b>intelligent computer vision</b> systems
        <li> Analysing industrial process data using <b>artificial intelligence</b>, machine learning, deep networks
		<li> Devising <b>machine learning</b> models for <b>predictive maintenance</b> and failure detection
        <li> Developing and deploying <b>intelligent computer vision</b> systems -- image segmentation, object recognition and localisation, 6-D pose estimation
        <li> Analysing industrial process data using <b>artificial intelligence</b>, machine learning, deep learning -- <b>pytorch</b>, <b>keras</b>, <b>tensorflow</b>
        <li> Devising models for <b>predictive maintenance</b> and failure detection
</ul>
</p>
<p>Previously I completed a PhD in Computational Neuroscience with the <a href="http://neurosys.loria.fr">Neurosys Team</a> at <a href="http://www.inria.fr/en/centre/nancy">INRIA Nancy</a> and <a href="http://www.loria.fr">LORIA</a>. 
My work focused on modelling the memory system under general anaesthesia using biologically-inspired spiking neural networks and physiological recordings of neural activity.</p>

<!-- <p>My PhD supervisors were <a href="https://sites.google.com/site/laurebuhry/">Dr. Laure Buhry</a> and <a href="http://www.geocities.ws/digitalbath/">Dr. Axel Hutt</a>.</p> -->

<p>I have always been fascinated by memory, from both a neurological as well as a philosophical stand point. 
The encoding of, and the ability to retrieve perceived past experiences are both innate and familiar human behaviours. 
Indeed this familiarity derives from our every-day use of our mnemonic functions as we imagine, perceive, and experience life. However, the interior workings of the brain which provide us with such faculties are far from being fully unravelled. 
<!-- Intrigued by this challenge ultimately my objective is to orient my research towards practical medical and rehabilitative applications.--></p>

<hr />

<!-- 
<h2 id="news">News and Events</h2>
<b>Sept. 2017</b>
<ul>
    <li>I will be defending my PhD on Tuesday 19th at 13:30 in the Amphitheatre C at <a href="https://goo.gl/maps/1GSK6yv9E8n">INRIA in Nancy</a>.
</ul>
<b>Jul. 2017 </b>
<ul>
    <li>Come see me at <a href="http://www.cnsorg.org/cns-2017-presentations">CNS 2017 in Antwerp</a> - Sunday 16th - Poster n. 82.
</ul>
<b>Jan. 2017 </b>
<ul>
    <li>Recently published paper: <em>The CAN-In neural network: A mathematical model for theta oscillations and memory maintenance in the hippocampus.</em> <a href="http://dx.doi.org/10.1002/hipo.22704">Read it on Hippocampus.</a>
</ul>
-->

<!-- Disable posts from homepage
<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>
-->

<!--
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
-->
