---
layout: default
title: Home
---

<h1 class="page-title">About Me</h1>
<p>I am a Research Assistant and PhD Student in the <a href="http://neurosys.loria.fr">Neurosys Team</a> at <a href="http://www.inria.fr/en/centre/nancy">INRIA Nancy</a> and <a href="http://www.loria.fr">LORIA</a>. My work focuses on modelling the memory system under general anaesthesia using biologically-inspired spiking neural networks and physiological recordings of neural activity.</p>

<p>My PhD supervisors are <a href="https://sites.google.com/site/laurebuhry/">Dr. Laure Buhry</a> and <a href="http://www.geocities.ws/digitalbath/">Dr. Axel Hutt</a>.</p>

<p>I have always been fascinated by memory, from both a neurological as well as a philosophical stand point. 
The encoding of, and the ability to retrieve perceived past experiences are both innate and familiar human behaviours. 
Indeed this familiarity derives from our every-day use of our mnemonic functions as we imagine, perceive, and experience life. However, the interior workings of the brain which provide us with such faculties are far from being fully unravelled. 
Intrigued by this challenge ultimately my objective is to orient my research towards practical medical and rehabilitative applications.</p>

<hr />

<h2 id="news">News</h2>
<b>Jul. 2017 </b>
<ul>
    <li>Come see me at <a hred="http://www.cnsorg.org/cns-2017-presentations">CNS 2017 in Antwerp</a> - Sunday 16th - Poster n. 82
</ul>
<b>Jan. 2017 </b>
<ul>
    <li>Recently published paper: <em>The CAN-In neural network: A mathematical model for theta oscillations and memory maintenance in the hippocampus.</em> <a href="http://dx.doi.org/10.1002/hipo.22704">Read it on Hippocampus</a>
</ul>

<!-- Disable posts from homepage
<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>
-->

<!--
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
-->
