---
layout: default
title: Home
---

<h1 class="page-title">About Me</h1>
<p>I am a Research Assistant and PhD Student in the <a href="http://neurosys.loria.fr">Neurosys Team</a> at <a href="http://www.inria.fr/en/centre/nancy">INRIA Nancy</a> and <a href="http://www.loria.fr">LORIA</a>. My work focuses on modelling the memory system under general anaesthesia.</p>

<p>My PhD supervisors are <a href="https://sites.google.com/site/laurebuhry/">Dr. Laure Buhry</a> and <a href="http://www.loria.fr/%7Ehuttaxel/">Dr. Axel Hutt</a>.</p>

<p>I have always been fascinated by memory, from both a neurological as well as a philosophical stand point. 
The encoding of, and the ability to retrieve perceived past experiences are both innate and familiar human behaviours. 
Indeed this familiarity derives from our every-day use of our mnemonic functions as we imagine, perceive, and experience life. However, the interior workings of the brain which provide us with such faculties are far from being fully unravelled. 
Intrigued by this challenge ultimately my objective is to orient my research towards practical medical and rehabilitative applications.</p>

<!-- Disable posts from homepage
<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>
-->

<!--
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
-->
