td.bibtexnumber, td.bibtexitem {
    border: #FFFFFF;
}

td.bibtexnumber {
    font-size: 12px;
}

td.bibtexitem {
    font-size: 15px;
}

.bibtex2htmlcopy {
    font-size: 10px;
    margin-top: 2cm;
    text-align: right;
}
